* {
 font-family: 'roboto', sans-serif;
 margin: 0px;
 padding: 15px;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: auto;
}

.section1 {
background-color: #303030;
font-weight: bold;
color: #F9FAF8;
display: flex;
flex-direction: column;
align-items: space-between;
}

.header {
    height: 20px;
    padding: 5px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-left {
    justify-content: flex-start;
}

.hero {
    font-size: 48px;
}


