* {
 font-family: 'roboto', sans-serif;
 margin: 0px;
}

.section1 {
background-color: #303030;
font-size: 48px;
font-weight: bold;
color: #F9FAF8;
}

.header {
 display: flex;
 font-size: 18px;
 color: #E5E7EB;
 justify-content: space-evenly;
}
